{% extends "jumbotron-narrow.html" %}

{% block title %}
Food
{% endblock %}

{% block body %}
<h3>Food</h3>
<form action="food_save" method="post">
    {% csrf_token %}
    <input type="text" name="name"/>
    <button type="submit">Add</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for food in all_food %}
            <tr>
                <td>{{ food.name }}</td>
                <td><a href="{% url "exercises:edit_food" food_id=food.id %}">edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>
{% endblock %}