{% extends "base.html" %}
{% load static %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Submit form</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    
    <!-- START code here -->
    <form action="/team_jacob" method="get">
    {% csrf_token %}        <!-- security for post method -->
    <input type="text" name="first_name" placeholder="First name" />                 <!-- textbox -->
    <input type="text" name="last_name" placeholder="Last name" />                  <!-- textbox -->
    <button type="submit">change label</button>        <!-- button -->
    </form>
    
    <!-- END code here  -->

{% endblock %}